## Weather Analysis: Sunshine, Rain & Temperature in Denmark VS the United States ‚òÄÔ∏èüåßÔ∏èüå°Ô∏è

#### Denmark scores as one of the happiest countries in the world, but when it comes to nice weather, the U.S. has it beat. The idea of perfect weather is highly subjective. But a lot of people like sunshine, warmth and lush greenery. Based on an analysis of U.N. climate data, here‚Äôs how Denmark and the United States differ and why Danes may want to consider a trip stateside.

In [1]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import re
import time

In [2]:
import numpy as np
import pandas as pd

### Export Data from UN Climate site.

In [10]:
sunlight = pd.read_csv("sunlight.csv")
#temperature = pd.read_csv("temp.csv")
#sunlight = pd.read_csv("rain.csv")
#df = pd.read_csv("UNdata_Export_20220125_184823524.csv")
#pd.set_option('display.max_rows', None)

#clean column names 
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.head(10)

,country_or_territory,station_name,wmo_station_number,national_station_id_number,period,element-statistic_qualifier_code,statistic_description,unit,jan,jan_footnotes,...,oct,oct_footnotes,nov,nov_footnotes,dec,dec_footnotes,annual,annual_footnotes,annual_ncdc_computed_value,annual_ncdc_computed_value_footnotes
0,"AFGHANISTAN, ISLAMIC STATE OF",Faiz abad,40904.0,NaN,1964-1983,NaN,Mean Number of Hours,*,117.3,NaN,...,224.2,NaN,176.4,NaN,127.3,NaN,205.3,NaN,2576.6,NaN
1,"AFGHANISTAN, ISLAMIC STATE OF",Sheberghan,40908.0,NaN,1964-1983,NaN,Mean Number of Hours,*,115.3,NaN,...,242.9,NaN,175.8,NaN,125.7,NaN,236.9,NaN,2823.1,NaN
2,"AFGHANISTAN, ISLAMIC STATE OF",Mazar-i-Sharif,40911.0,NaN,1959-1983,NaN,Mean Number of Hours,*,122.2,NaN,...,223.2,NaN,173.6,NaN,125.5,NaN,229.9,NaN,2762.9,NaN
3,"AFGHANISTAN, ISLAMIC STATE OF",Kunduz,40913.0,NaN,1958-1983,NaN,Mean Number of Hours,*,114.4,NaN,...,221.8,NaN,169.3,NaN,118.3,NaN,229.5,NaN,2652.3,NaN
4,"AFGHANISTAN, ISLAMIC STATE OF",Maimana,40922.0,NaN,1959-1983,NaN,Mean Number of Hours,*,136.6,NaN,...,237.2,NaN,159.1,NaN,137.9,NaN,239.6,NaN,2866.9,NaN
5,"AFGHANISTAN, ISLAMIC STATE OF",North Salang,40930.0,NaN,1960-1983,NaN,Mean Number of Hours,*,112.8,NaN,...,184.3,NaN,149.4,NaN,118.5,NaN,188.2,NaN,2229.4,NaN
6,"AFGHANISTAN, ISLAMIC STATE OF",Jabulsaraj,40932.0,NaN,1961-1983,NaN,Mean Number of Hours,*,167.3,NaN,...,275.9,NaN,224.4,NaN,167.3,NaN,260.3,NaN,3059.2,NaN
7,"AFGHANISTAN, ISLAMIC STATE OF",Qalai naw,40937.0,NaN,1970-1983,NaN,Mean Number of Hours,*,127.4,NaN,...,197.0,NaN,175.4,NaN,110.2,NaN,201.4,NaN,2685.0,NaN
8,"AFGHANISTAN, ISLAMIC STATE OF",Herat,40938.0,NaN,1958-1983,NaN,Mean Number of Hours,*,149.3,NaN,...,274.0,NaN,235.0,NaN,143.1,NaN,253.8,NaN,3131.9,NaN
9,"AFGHANISTAN, ISLAMIC STATE OF",Chakhcharan,40942.0,NaN,1968-1983,NaN,Mean Number of Hours,*,146.4,NaN,...,267.7,NaN,217.9,NaN,154.7,NaN,250.1,NaN,3156.0,NaN

### Filter for cells with missing values (these cells will typically have a footnote)

In [11]:
df2 = df[df['annual_ncdc_computed_value_footnotes'] != 1]
df2 = df2[df2['jan_footnotes'] != 1]
df2 = df2[df2['feb_footnotes'] != 1]
df2 = df2[df2['mar_footnotes'] != 1]
df2 = df2[df2['apr_footnotes'] != 1]
df2 = df2[df2['may_footnotes'] != 1]
df2 = df2[df2['jun_footnotes'] != 1]
df2 = df2[df2['jul_footnotes'] != 1]
df2 = df2[df2['aug_footnotes'] != 1]
df2 = df2[df2['sep_footnotes'] != 1]
df2 = df2[df2['oct_footnotes'] != 1]
df2 = df2[df2['nov_footnotes'] != 1]
df2 = df2[df2['dec_footnotes'] != 1]

### Group by country

In [12]:

grouped = df2.groupby('country_or_territory').mean()
grouped.head(10)

,wmo_station_number,jan,jan_footnotes,feb,feb_footnotes,mar,mar_footnotes,apr,apr_footnotes,may,...,oct,oct_footnotes,nov,nov_footnotes,dec,dec_footnotes,annual,annual_footnotes,annual_ncdc_computed_value,annual_ncdc_computed_value_footnotes
country_or_territory,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"AFGHANISTAN, ISLAMIC STATE OF",40946.100000,160.870000,NaN,154.670000,NaN,195.245000,NaN,221.655,NaN,289.655000,...,260.205000,NaN,218.690000,NaN,164.885000,NaN,249.330,NaN,2995.630000,NaN
ARGENTINA,87488.280000,283.836000,NaN,245.728000,NaN,227.664000,NaN,198.360,NaN,171.616000,...,238.204000,NaN,263.400000,NaN,274.164000,NaN,2585.912,NaN,2585.912000,NaN
ARMENIA,37737.500000,94.500000,NaN,106.000000,NaN,160.000000,NaN,174.000,NaN,237.500000,...,210.000000,NaN,137.000000,NaN,92.500000,NaN,-9999.900,1.0,2457.500000,NaN
AUSTRALIA,94659.200000,258.230000,NaN,223.626667,NaN,229.710000,NaN,214.300,NaN,194.886667,...,254.303333,NaN,252.200000,NaN,262.260000,NaN,2746.770,NaN,2746.770000,NaN
AUSTRALIA (ANTARCTIC STATIONS),89567.500000,265.050000,NaN,191.800000,NaN,128.650000,NaN,88.500,NaN,35.650000,...,198.400000,NaN,241.500000,NaN,274.350000,NaN,-9999.900,1.0,1644.150000,NaN
AUSTRIA,11233.000000,73.285714,NaN,98.714286,NaN,138.714286,NaN,161.000,NaN,199.142857,...,144.714286,NaN,80.428571,NaN,65.857143,NaN,-9999.900,1.0,1778.857143,NaN
AZERBAIJAN,37819.555556,98.622222,NaN,95.444444,NaN,127.422222,NaN,181.300,NaN,229.777778,...,152.588889,NaN,109.666667,NaN,107.844444,NaN,-9999.900,1.0,2151.877778,NaN
BAHAMAS,78073.000000,220.100000,NaN,212.800000,NaN,257.300000,NaN,276.000,NaN,269.700000,...,223.200000,NaN,222.000000,NaN,213.900000,NaN,2878.400,NaN,2878.400000,NaN
BAHRAIN,41150.000000,226.300000,NaN,221.200000,NaN,238.700000,NaN,255.000,NaN,306.900000,...,303.800000,NaN,261.000000,NaN,226.300000,NaN,3353.600,NaN,3353.600000,NaN

In [75]:
#save file 
striped.to_csv ('sunlight2.csv', header=True)